
body {
    display: flex;
    height: 120vh;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1503197979108-c824168d51a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1633&q=80 1633w") ;
    background-repeat: no-repeat;
    background-position: center;
}
body.dark {
    display: flex;
    height: 120vh;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1597954874965-17e91acf1492?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80 1770w") ;
    background-repeat: no-repeat;
    background-position: center;
    
}
.p-box.dark {   
    display: flex;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    padding: 2%;
    height: 85%;
    width: 50%;
    margin-right: 5%;
    border-radius: 30px;
    background-color: #000000d0;
    color: white;
    transition: 0.5s;

}
.p-box {

    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    padding: 2%;
    height: 85%;
    width: 50%;
    margin-right: 5%;
    border-radius: 30px;
    background-color: #ffffffb2;
    color: black;
    transition: 0.5s;

}


.w-card.dark {
    background-color: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 40%;
    height: 40%;
    max-width: 420px;
    margin-top: 5%;
    transition: 0.5s;

}
.w-card {
    background-color: #ffffffd0;
    color: black;
    padding: 2em;
    border-radius: 30px;
    width: 40%;
    height: 40%;
    max-width: 420px;
    margin-top: 5%;
    transition: 0.5s;

}


.w-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.w-search-bar {
    margin-top: 20%;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
    transition: 0.5s;

}
input.w-search-bar.on {
    margin-top: 20%;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
    transition: 0.5s;
    animation: colors1 0.5s linear;

}
input.w-search-bar.dark {
    margin-top: 20%;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 100px);
    transition: 0.5s;

}
input.w-search-bar:hover {
    transform: scale(1.1);

}
input.w-search-bar.dark:hover {
    transform: scale(1.1);

}
.p-name {
    position: absolute;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 120%;
    width: calc(20% - 100px);
    margin-right: 1%;
    margin-top: 2%;
    margin-left: 9%;
    transition: 0.5s;

}
.p-name.on {
    position: absolute;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 120%;
    width: calc(20% - 100px);
    margin-right: 1%;
    margin-top: 2%;
    margin-left: 9%;
    transition: 0.5s;
    animation: colors1 0.5s linear;
}
@keyframes colors1 {
    0% {
        background: #7c7c7c2b;
    }
    50% {
        background: #34020260;
    }
    100% {
        background: #7c7c7c2b;
    }
}

.p-name:hover {
    transform: scale(1.1);
}
.p-name.dark {
    position: absolute;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(20% - 100px);
    margin-right: 1%;
    margin-top: 2%;
    margin-left: 9%;
    transition: 0.5s;
}
.p-name.dark:hover {
    transform: scale(1.1);

}

.p-mess {
    position: absolute;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 120%;
    width: calc(28% - 100px);
    margin-right: 1%;
    margin-top: 5%;
    margin-left: 9%;
    transition: 0.5s;

}
.p-mess.on {
    position: absolute;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 120%;
    width: calc(28% - 100px);
    margin-right: 1%;
    margin-top: 5%;
    margin-left: 9%;
    transition: 0.5s;
    animation: colors1 0.5s linear;
}
.p-mess:hover {
    transform: scale(1.1);
}
.p-mess.dark {
    position: absolute;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    width: calc(28% - 100px);
    margin-right: 1%;
    margin-top: 5%;
    margin-left: 9%;
    transition: 0.5s;
}
.p-mess.dark:hover {
    transform: scale(1.1);

}


.w-button {
    margin-top: 20%;
    margin-left: 4%;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #7c7c7c2b;
    color: black;
    cursor: pointer;
    transition: 0.5 ease-in-out;
}
.w-button:hover {
    background: #7c7c7c6b;
}
.w-button.dark {
    margin-top: 20%;
    margin-left: 4%;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.5 ease-in-out;
}
.w-button.dark:hover {
    background: #7c7c7c6b;
}
.s-button {
    position: absolute;
    margin-top: 2%;
    margin-left: 25.5%;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
    background-image: url(/others/message.png);
    background-color: none;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.s-button:hover {
    transform: scale(1.2);
}
.s-button.on {
    position: absolute;
    margin-top: 2%;
    margin-left: 25.5%;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    outline: none;
    background-image: url(/others/reload.png);
    background-color: none;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    animation: load-animation 0.5s infinite linear;
}

.p-card {
    border-radius: 40%;
    color: black;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.pngkey.com/png/full/129-1293327_coffee-icon-coffee-cup-flat-icon.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width: 17%;
    height: 72%;    
    transition: 0.5s;

    
}
.p-card:hover {
    transform: scale(1.1);

}
.p-card.dark {
    border-radius: 40%;
    color: white;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.pngkey.com/png/full/129-1293327_coffee-icon-coffee-cup-flat-icon.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    transition: 0.5s;
    width: 17%;
    height: 72%;
}
.p-card.dark:hover {
    transform: scale(1.1);

}


.p-card2 {
    border-radius: 40%;
    color: black;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn-icons.flaticon.com/png/512/1903/premium/1903172.png?token=exp=1655748789~hmac=b3b42fc587ef8ffb04add8de25e7df0b");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    transition: 0.5s;
    width: 17%;
    height: 72%;
}
.p-card2:hover {
    transform: scale(1.1);

}
.p-card2.dark {
    border-radius: 40%;
    color: white;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn-icons.flaticon.com/png/512/1903/premium/1903172.png?token=exp=1655748789~hmac=b3b42fc587ef8ffb04add8de25e7df0b");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    transition: 0.5s;
    width: 17%;
    height: 72%;

}
.p-card2.dark:hover {
transform: scale(1.1);

}
.p-card3 {
    border-radius: 40%;
    color: black;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1802/1802977.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    transition: 0.5s;
    width: 20%;
    height: 78%;

}
.p-card3:hover {
    transform: scale(1.1);
}
.p-card3.dark {
    border-radius: 40%;
    color: white;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1802/1802977.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    transition: 0.5s;
    width: 20%;
    height: 78%;

}
.p-card3.dark:hover {
transform: scale(1.1);

}
.p-icon {
    margin-left: 5%;
    margin-top: 3%;
    width: 3%;
    height: 7%;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.p-icon:hover {
    transform: scale(1.2);
}

.p-icon2 {
    margin-left: 1%;
    margin-top: 3%;
    width: 3%;
    height: 7%;
    position:absolute;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/2111/2111463.png");
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.p-icon2:hover {
    transform: scale(1.2)
}

.insta {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    background-color: none;
    border-color: none;
    color:white
}
.insta:hover {
    border-radius: 10px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.214);
}
.linkedin {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    background-color: none;
    border-color: none;
    color:white
}
.linkedin:hover {
    border-radius: 10px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.214);
}
.p-power {
    float: right;
    width: 15%;
    height: 5%;
    color:black;
}
.p-power.dark {
    float: right;
    width: 15%;
    height: 5%;
    color:white;
}

.p-button {
    margin: 00.5em;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    outline: none;
    background: #7c7c7c2b;
    color: black;
    cursor: pointer;
    transition: 0.7 ease-in-out;
}
.p-button:hover {
    background: #7c7c7c6b;
    transform: scale(1.1);
}
.p-button.dark {  
    margin: 00.5em;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.5 ease-in-out;
}
.p-button.dark:hover {
    background: #7c7c7c6b;
}


.w-description {
    font-size: 20px;
}.w-humidity {
    font-size: 20px;
}.w-wind {
    font-size: 20px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

#p-image {
    margin-right: 5%;
    justify-self: left;
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
h1.w-temp {
    margin: 0px;
}

#info {
    transition: 0.5s;
}
#info:hover {
    transform: scale(1.1);
}
.game-board {
    position: relative;
    overflow: hidden;
    background-color: #7c7c7c2b;
    border-radius: 30px;
    display: flex;
    width: 70%;
    height: 45%;
    float:right;
    align-items: center;
    margin-top: 8%;
    transition: 0.5s;
}

.mario {
    width: 130px;
    position: absolute;
    bottom: 0%;
}
.jump {
    animation: jump 500ms ease-out;
}
.pipe {
    width: 80px;
    position: absolute;
    bottom: 0%;
    animation: pipe-animation 1.5s infinite linear;
}
.clouds{
    position: absolute;
    width: 400px;
    animation: clouds-animation 20s infinite linear;
}
.start-mario {
    bottom: 70%;
    left: 37.5%;
    position: absolute;
    float: center;
    width: 100px;
}
.start-mario:hover {
    transform: scale(1.2);
}
@keyframes clouds-animation {
    from {
        right: -400px;
    }
    to {
        right: 100%;
    }
}
@keyframes load-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}
@keyframes jump {
    0% {
        bottom: 0%;
    }
    50% {
        bottom:200px;
    }
    65% {
        bottom:200px;
    }
    100% {
        bottom: 0%;
    }
}